.form-bar {
  background-color: #366ed1;
  color: white;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.form-header {
  font-weight: lighter;
  color: white;
  line-height: 1.54;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
  margin: 0;
  user-select: none;
  padding: 12px 0;
}

.error {
}

.error-message: {
  font-weight: lighter;
  color: red;
  line-height: 1.54;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: .5rem;
  margin: 0;
  user-select: none;
  padding: 12px 0;
}

.form {
  padding: 24px 0;
}

.form-submit {
  padding: 1.5rem 0;
}

.form-submit-button {
  border-radius: 2px;
}

.close {
  color: white;
}

#responseModal {
  color: black;
}

.add-button {
  color: #039be5;
  font-weight: 500;
  border-radius: 2px;
}
